
.error-page {
    width: 100vw;
    height: 90vh;
    background-color: var(--creamy);
    display: flex;
    justify-content: center;
}

.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
}

.error-text {
    margin-bottom: 5vh;
}